# Mac OS
*.DS_Store

# Python
*__pycache__*
*.egg-info*

# Data
*.zip
public_data/
meta_album_sets/
meta_album_openml_cache/
ingestion_output*
scoring_output*

# logs 
*logs*

# VS Code
*.vscode*

# PyCharm
.idea/

# Notebook cache
*.ipynb_checkpoints*
